<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Menu</h3>
    <ul class="nav side-menu">
      <li><a href="/dashboard"><i class="fa fa-dashboard"></i>Dash Board </a>
      </li>
      <li><a><i class="fa fa-sitemap"></i>Devices<span class="fa fa-chevron-down"></span> </a>
        <ul class="nav child_menu">
          <li><a href="/devices/door"><i class="fa fa-columns"></i> Door</a></li>
          <li><a href="/devices/light"><i class="fa fa-lightbulb-o"></i> Light</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-line-chart"></i>Sensors<span class="fa fa-chevron-down"></span> </a>
        <ul class="nav child_menu">
          <li><a href="/sensors/temp"><i class="fa fa-tachometer"></i> Temperature</a></li>
          <li><a href="/sensors/humi"><i class="fa fa-tint"></i> Humidity</a></li>
          <li><a href="/sensors/gas"><i class="fa fa-fire"></i> gas</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-file-text"></i>User Guide </a>
      </li>
    </ul>
  </div>


</div>
