<div class="right_col" role="main">
          <div class="">
            <!-- top tiles -->
          <div class="row tile_count">
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i id="doorIcon"class="fa fa-lock"></i></div>
                  <div class="count" id="doorTxt">CLOSE</div>
                  <h3>도어락</h3>
                  <span class="pull-right"><i id ="doorToggle" class="fa fa-toggle-off fa-3x" style="padding-right:30px"></i></span>
                  <span class="pull-left"><a href="#"><font size="3"style="padding-left:15px">View Details</font></a></span>
                </div>
              </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i id="lightIcon"class="fa fa-lightbulb-o"></i></div>
                 <div class="count" id="lightTxt">OFF</div>
                  <h3>전등</h3>
                  <span class="pull-right"><i id="lightToggle"class="fa fa-toggle-off fa-3x" style="padding-right:30px"></i></span>
                  <span class="pull-left"><a href="#"><font size="3"style="padding-left:15px">View Details</font></a></span>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i id="tempIcon"class="fa fa-dashboard"></i></div>
                 <div class="count" id="tempTxt">00 ℃</div>
                  <h3>온도</h3>
                   <span class="pull-left"><a href="#"><font size="3"style="padding-left:15px">View Details</font></a></span>
              </div>
            </div>
          </div>
          <div class="row tile_count">
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i id="humiIcon"class="fa fa-tint"></i></div>
                  <div class="count" id="humiTxt">00 %</div>
                  <h3>습도</h3>
                  <span class="pull-left"><a href="#"><font size="3"style="padding-left:15px">View Details</font></a></span>
                </div>
              </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i id="gasIcon"class="fa fa-fire"></i></div>
                 <div class="count" id="gasTxt">000</div>
                  <h3>가스</h3>
                   <span class="pull-left"><a href="#"><font size="3"style="padding-left:15px">View Details</font></a></span>
              </div>
            </div>
            <div class="animated flipInY col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div class="tile-stats">
                <div class="icon"><i id="fireIcon"class="fa fa-fire"></i></div>
                 <div class="count" id="fireTxt">정상</div>
                  <h3>화재</h3>
                   <span class="pull-left"><a href="#"><font size="3"style="padding-left:15px">View Details</font></a></span>
              </div>
            </div>
          </div>
          <!-- /top tiles -->
            <br />

            <div class="row">
              <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>온도</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <canvas id="temp"></canvas>
                  </div>
                </div>
              </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>습도</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <canvas id="humi"></canvas>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>가스</h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <canvas id="gas"></canvas>
                </div>
              </div>
            </div>


            </div>
          </div>
        </div>
